<div class="page">
    <div class="header">
        <div class="header-left">
            <img src="assets/images/plant1.svg" alt="" class="logo">
            <div class="logo-name">Planto.</div>
        </div>
        <div class="header-center">
            <div class="home">Home</div>
            <div class="home">Plants Type</div>
            <div class="home">More</div>
            <div class="home">Contact</div>
        </div>
        <div class="header-right">
            <img src="assets/images/search.svg" alt="" class="right-image-icons">
            <img src="assets/images/bag.svg" alt="" class="right-image-icons">
            <img src="assets/images/menu.svg" alt="" class="right-image-icons">
        </div>
    </div>


    <div class="body">
        <div class="content">
            <div class="title">Breath Natureal</div>
            <div class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="content-buttons">
                <button>Explore</button>
                <button>Live Demo</button>
            </div>
        </div>

        <div class="card">
            <img src="assets/images/plant2.svg" alt="" class="card-image">
        </div>

    </div>

    <div class="footer">

    </div>
</div>