

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.fs-18{
    font-size: 18px;
}

.primary {
    color: #002FD5;
}

.secondary {
    color: #525252;
}

.black-cl {
    color: #000000 ;
}