<p>product-catelogue works!</p>

<div class="catelogue-page">

    <div class="side-menu-details">
        @if (cat) {
            <app-side-menu [cat]="cat" (updateCategory)="recentlySelectedCategoty($event)"  (appliedFilter)="getAppliedCategory($event)" ></app-side-menu>
        }
    </div>

    <div class="product-page-details">
        @if (productsLists) {
            <app-product #prodChild [products]="productsLists" ></app-product>
        } @else {
            <p>Need to select a category...</p>
        }
    </div>

</div>
