.title {
    margin-left: 15px;
    font-weight: 800;
   span {
    font-weight: 300;
   } 
}



.product {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: solid 0.5mm #d8d8d8;
    border-radius: 8px;
    margin: 10px 15px;
}

.product-name {
    font-weight: bold;
}

.selected-product {
    border: solid 0.5mm #002FD5;
    background-color: #eff1f5;
}

.product-details {
    display: flex;
    gap: 40px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.key-value{
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.add-button {
    background-color: #002FD5;
    border: solid 1px #002FD5;
    color: #ffffff;
    padding: 5px;
    border-radius: 8px;
}

.view-button {
    background-color: #ffffff;
    border: solid 1px #002FD5;
    color: #002FD5;
    padding: 5px;
    border-radius: 8px;

}