@import url('./styles/font-size.scss');
// @import url('assets/fonts/Poppins-Regular.ttf');

@font-face {
    font-family: Poppins;
    src: url(styles/fonts/Poppins-Regular.ttf) format("opentype") ;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Poppins, "Helvetica Neue", sans-serif; 
}
